.programbox {
    padding: 0.5rem;
    margin-bottom: 2em;
}

.programbox .programname {
    margin-bottom: 1em;
}

.programbox .programimage img {
    height: 15em;
    width: 100%;
    border-radius: 0.5rem;
}

#page-enrol-programs-management-program .programimage img,
#page-admin-enrol-programs-management-program .programimage img {
    height: 15em;
    width: 100%;
    border-radius: 0.5rem;
}

#page-enrol-programs-catalogue-index .programimage img {
    height: 150px;
    width: 200px;
}

.programs .programbox.even {
    background-color: rgba(0, 0, 0, 0.03);
}

#page-enrol-programs-documentation #programs_docs img {
    width: 100%;
    height: 100%;
}

#program_content a.movehere {
    margin: 0;
    padding: 5px;
    display: inline;
    height: 2rem;
    border: 2px dashed #343a40;
}

#page-enrol-programs-my-program {

    .course-card.disabled img {
        filter: grayscale(100%);
    }

    .programsnested-set {
        margin-left: 20px;
        margin-top: 2em;
    }

    .sequence-badge {
        top: 10px;
        right: 10px;
    }
    .course-card {
        height: 30em;
        @media (max-width: 1200px) {
            height: 36em;
        }
        @media (max-width: 767px) {
            height: 30em;
        }
        .card-img-top {
            height: 12rem;
        }
        .card-title,
        .card-footer a {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

#page-enrol-programs-catalogue-program {
    .programsnested-set {
        margin-left: 20px;
        margin-top: 2em;
    }
    .course-card {
        height: 25em;
        .card-img-top {
            height: 12rem;
        }
    }
}
/*
.program-card-layout-selector-content {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
*/
#page-enrol-programs-my-index {
    #region-main {
        @media (min-width: 1600px) {
            padding-right: 10rem;
            padding-left: 10rem;
        }
    }
    .my-programs-filters {
        padding-bottom: 1em;
        gap: 1rem;
        .sort-filters {
            @media (max-width: 767px) {
                padding-right: 10rem;
                padding-left: 10rem;
            }
            .dropdown-menu {
                .dropdown-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                }
                li {
                    display: flex;
                    .icon {
                        margin-left: 1em;
                    }
                }
            }

        }
    }
    .programs-grid {
        .program-card {
            width: 100%;
            max-width: 30em;
            height: 36em;
            margin-bottom: 1em;
            justify-self: center;
            border: 2px solid rgba(0, 0, 0, 0.125);
            @media (max-width: 1200px) {
                height: 42em;
            }
            @media (max-width: 767px) {
                height: 36em;
            }
            .program-name {
                padding: 0.75rem 1.25rem;
                margin-bottom: 0;
                background-color: rgba(0, 0, 0, 0.03);
                text-align: center;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .card-img-top {
                height: 15em;
            }
            .program-id {
                position: absolute;
                text-align: center;
                width: 40%;
                bottom: 25em;
                left: 1em;
                background-color: white;
                color: black;
                padding: 4px 25px;
                font-size: 0.8rem;
                border-radius: 10px;
                font-weight: bold;
                border: 1px solid;
                @media (max-width: 1200px) {
                    bottom: 32em;
                }
                @media (max-width: 767px) {
                    bottom: 25em;
                }
            }
        }
    }

    .program-desc {
        max-height: 6em;
        overflow-y: auto;
    }

    .program-desc p {
        height: 4.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

.programviewtoggle-button {
    border: 2px solid;
    border-radius: 8px;
    padding: 12px;
    text-decoration: none;
    display: inline-flex;
    margin-bottom: 10px;
}
.programviewtoggle-button:not(.selected) {
    border-color: #ccc;
}
.programviewtoggle-button:not(.selected) i {
    color: #888;
}