.programbox {
    padding: 0.5rem;
}

.programbox .programimage img {
    max-width: 200px;
    max-height: 100px;
    width: auto;
    height: auto;
}

#page-enrol-programs-management-program .programimage img,
#page-admin-enrol-programs-management-program .programimage img {
    max-width: 300px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.programs .programbox.even {
    background-color: rgba(0, 0, 0, 0.03);
}

#page-enrol-programs-documentation #programs_docs img {
    width: 100%;
    height: 100%;
}

#program_content a.movehere {
    margin: 0;
    padding: 5px;
    display: inline;
    height: 2rem;
    border: 2px dashed #343a40;
}

#page-enrol-programs-my-program {
    .programimage img {
        max-height: 300px;
    }

    .course-card.disabled img {
        filter: grayscale(100%);
    }

    .programsnested-set {
        margin-left: 20px;
    }

    .sequence-badge {
        top: 10px;
        right: 10px;
    }
}

.program-card-layout-selector-content {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
