{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="card-grid mx-0 row row-cols-1 row-cols-sm-2 row-cols-lg-3 programs-grid">
    {{#programs}}
        <div class="col d-flex pb-3 px-1">
            <div class="dashboard-card course-card card h-100 d-flex flex-column program-card">
                <div class="program-image-wrapper">
                    <img class="card-img-top programthumbnail" src="{{thumbnail}}" alt="{{fullnameplain}}">
                    {{#ismyprogramspage}}<div class="program-id">{{#str}}idnumbersymbol, enrol_programs {{/str}} {{idnumber}}</div>{{/ismyprogramspage}}
                </div>
                <div class="program-name">
                    <h2 class="card-title text-center" title="{{fullnameplain}}">{{{fullname}}}</h2>
                </div>
                <div class="card-body d-flex flex-column">
                    {{#description}}
                        <div class="program-desc">
                            {{#ismyprogramspage}}
                                {{{description}}}
                            {{/ismyprogramspage}}
                        </div>
                    {{/description}}
                    <div class="card-text">
                        {{^ismyprogramspage}}
                        <ul class="list-unstyled mt-2">
                            <li>{{{status}}}</li>
                            {{#programstart}}<li><strong>{{#str}}start, enrol_programs{{/str}} :</strong> {{programstart}}</li>{{/programstart}}
                            {{#programdue}}<li><strong>{{#str}}due, enrol_programs{{/str}} :</strong> {{programdue}}</li>{{/programdue}}
                            {{#programend}}<li><strong>{{#str}}end, enrol_programs{{/str}}:</strong> {{programend}}</li>{{/programend}}
                            <li><strong>{{#str}}source, enrol_programs{{/str}} </strong> : {{{source}}}</li>
                        </ul>
                        {{/ismyprogramspage}}
                        {{#ismyprogramspage}}
                        <ul class="list-unstyled mt-2">
                            {{#programstart}}<li><strong>{{#str}}programstart, enrol_programs{{/str}} :</strong> {{programstart}}</li>{{/programstart}}
                            {{#programdue}}<li><strong>{{#str}}programdue, enrol_programs{{/str}} :</strong> {{programdue}}</li>{{/programdue}}
                            {{#programend}}<li><strong>{{#str}}programend, enrol_programs{{/str}}:</strong> {{programend}}</li>{{/programend}}
                            <li><strong>{{#str}}source, enrol_programs{{/str}} </strong> : {{{source}}}</li>
                            <li><strong>{{#str}}programstatus, enrol_programs{{/str}} :</strong> {{{status}}}</li>
                        </ul>
                        {{/ismyprogramspage}}
                    </div>
                </div>
            </div>
        </div>
    {{/programs}}
</div>