{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="card-grid mx-0 row row-cols-1 row-cols-sm-2 row-cols-lg-3">
    {{#programs}}
        <div class="col d-flex pb-3 px-1">
            <div class="dashboard-card course-card card h-100 d-flex flex-column">
                <img class="card-img-top programthumbnail" src="{{thumbnail}}" alt="{{fullname}}">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <h5 class="card-title text-center" title="{{fullname}}">{{{fullname}}}</h5>
                        <p class="card-text">{{{status}}}</p>
                    </div>
                    <ul class="list-unstyled mt-2">
                        {{#programstart}}<li><strong>Start:</strong> {{programstart}}</li>{{/programstart}}
                        {{#programdue}}<li><strong>Due:</strong> {{programdue}}</li>{{/programdue}}
                        {{#programend}}<li><strong>End:</strong> {{programend}}</li>{{/programend}}
                    </ul>
                </div>
            </div>
        </div>
    {{/programs}}
</div>