<div>
    <div class="program-card-layout-selector-content">
        <select {{^isprogramdetailpage}}id="user-view-dropdown"{{/isprogramdetailpage}}
            {{#isprogramdetailpage}}id="programdetail-user-view-dropdown"{{/isprogramdetailpage}}>
            <option {{#viewgrid}}selected="selected"{{/viewgrid}} value="grid">{{#str}}layoutgrid, enrol_programs{{/str}}</option>
            <option {{#viewtable}}selected="selected"{{/viewtable}} value="table">{{#str}}layouttable, enrol_programs{{/str}}</option>
        </select>
    </div>
</div>