<div {{^isprogramdetailpage}} id="programview-toggle"{{/isprogramdetailpage}}
    {{#isprogramdetailpage}} id="programdetail-programview-toggle"{{/isprogramdetailpage}}>
    <a id="table-view" class="programviewtoggle-button {{#viewtable}}selected{{/viewtable}}" data-view="table" title="{{#str}}layouttable, enrol_programs{{/str}}">
        <i class="fa-solid fa-list fa-lg"></i>
    </a>
    <a id="grid-view" class="programviewtoggle-button {{#viewgrid}}selected{{/viewgrid}}" data-view="grid" title="{{#str}}layoutgrid, enrol_programs{{/str}}">
        <i class="fa-solid fa-th fa-lg"></i>
    </a>
</div>