<div class="d-flex flex-nowrap align-items-center pb-3 my-programs-filters">
    <!-- Toggle Buttons -->
    <div {{^isprogramdetailpage}} id="programview-toggle"{{/isprogramdetailpage}}
        {{#isprogramdetailpage}} id="programdetail-programview-toggle"{{/isprogramdetailpage}} class="me-2 d-flex">
        <a id="table-view" role="button" class="programviewtoggle-button {{#viewtable}}selected{{/viewtable}}" data-view="table" title="{{#str}}layouttable, enrol_programs{{/str}}">
            <i class="fa-solid fa-list fa-lg"></i>
        </a>
        <a id="grid-view" role="button" class="programviewtoggle-button {{#viewgrid}}selected{{/viewgrid}}" data-view="grid" title="{{#str}}layoutgrid, enrol_programs{{/str}}">
            <i class="fa-solid fa-th fa-lg"></i>
        </a>
    </div>
    <div class="ml-1 me-1">
        <div class="dropdown" id="statusfilter">
            <button id="statusfilterdropdown" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="dropdown-label">{{currentfilterlabel}}</span>
            </button>
            <ul class="dropdown-menu">
                {{#filters}}
                    <li>
                        <a class="dropdown-item {{#isactive}}active{{/isactive}}" href="#" data-status="{{value}}">
                            {{label}}
                        </a>
                    </li>
                {{/filters}}
            </ul>
        </div>
    </div>

    <div class="position-relative">
        <input id="programsearch" name="programsearch" type="text" class="form-control pe-5" placeholder="{{#str}}searchbyprogramnameorid, enrol_programs{{/str}}">
        <a href="#"><i class="fa fa-search position-absolute text-muted" style="right: 1rem;top: 0.6rem"></i></a>
    </div>

    <div class="ml-1 me-1">
        <div class="dropdown" id="sortbyfilter">
            <button id="sortbyfilterdropdown" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="dropdown-label">{{currentsortinglabel}}</span>
            </button>
            <ul class="dropdown-menu">
                {{#sortingoptions}}
                    <li>
                        <a class="dropdown-item {{#isactive}}active{{/isactive}}" href="#" data-status="{{value}}">
                            {{label}}
                        </a>
                    </li>
                {{/sortingoptions}}
            </ul>
        </div>
    </div>
</div>
