{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<table id="my_programs" class="generaltable">
    <thead>
    <tr>
        <th class="header c0" scope="col">{{{namecol}}}</th>
        <th class="header c1" scope="col">{{{idnumbercol}}}</th>
        <th class="header c2" scope="col">{{{descriptioncol}}}</th>
        <th class="header c3" scope="col">{{{programstartcol}}}</th>
        <th class="header c4" scope="col">{{{programduecol}}}</th>
        <th class="header c5" scope="col">{{{programendcol}}}</th>
        <th class="header c6" scope="col">{{{sourcecol}}}</th>
        <th class="header c7 lastcol" scope="col">{{{statuscol}}}</th>
    </tr>
    </thead>
    <tbody>
    {{#tabledata}}
        <tr>
            <td class="cell c0">{{{fullname}}}</td>
            <td class="cell c1">{{{idnumber}}}</td>
            <td class="cell c2">{{{description}}}</td>
            <td class="cell c3">{{{programstart}}}</td>
            <td class="cell c4">{{{programdue}}}</td>
            <td class="cell c5">{{{programend}}}</td>
            <td class="cell c6">{{{source}}}</td>
            <td class="cell c7 lastcol">{{{status}}}</td>
        </tr>
    {{/tabledata}}
    </tbody>
</table>
