<div class="d-flex align-items-center justify-content-between flex-wrap gap-2 mt-3">
    <div class="programs-perpage-container"></div>
    <nav>
        <ul class="pagination pagination-sm programs-pagination mb-0">
            <li class="page-item programs-previous-item">
                <button class="page-link programs-previous" aria-label="{{#str}}previous{{/str}}">
                    <span aria-hidden="true">{{#pix}} i/previous, core, {{#str}}previous{{/str}}{{/pix}}</span>
                </button>
            </li>
            <li class="page-item programs-pagination-numbers-wrapper">
                <div class="programs-pagination-numbers d-flex"></div>
            </li>
            <li class="page-item programs-next-item">
                <button class="page-link programs-next" aria-label="{{#str}}next{{/str}}">
                    <span aria-hidden="true">{{#pix}} i/next, core, {{#str}}next{{/str}}{{/pix}}</span>
                </button>
            </li>
        </ul>
    </nav>
</div>